<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".bak" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
